/* Page Layout */
body{
    position: absolute;
    top:1em;
    bottom:1em;
    right: 1em;
    left: 1em;
    background-color: yellow;
}
body>header, body>footer{
    height: 7.5%;
    background-color: green;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:1em;
    padding-right: 1em;
    font-size: smaller;
}
body>section{
    position: relative;
    height: 85%;
}

/* Section Layout */
menu{
    position: absolute;
    top:0px;
    left:0px;
    bottom:0px;
    width: 20%;
    padding:0;
    margin:0;
    background-color: orange;
}
#users{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: darkred;
}
#main{
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    width: 80%;
    padding:0;
    margin: 0;
    background-color: blue;
}


/*Card*/
#stack article, td article{
    padding: 2px;
    margin-top: 2px;
    margin-left:4px;
    margin-right:4px;
    margin-bottom: 2px;
    background-color: red;
}

#stack article header, td article header{
    position: relative;
    margin: 0;
    padding: 0;
}

#stack article h2, td article h2{
    font-size: medium;
    padding: 2px;
    margin: 0;
    cursor: pointer;
}

#stack article header span, td article header span{
    float: right;
}

.closeButton{
    background-image: url('../assets/close.png');
    width: 32px;
    height:32px;
    margin: 2px;
    padding: 0;
    position: absolute;
    top: -1em;
    right: -1em;
    cursor: pointer;

}

/*selection*/
#stack article[data-selected-by]{
    background-color: gainsboro;
}

/*Info display*/
#stack article img, td article img{
    float: right;
    width: 300px;
}

/*** Hidden ***/
#stack article .details, #stack article footer, #stack article .closeButton{display: none;}

/*** Visible ***/
#stack article[open=open] .details, #stack article[open=open] footer, #stack article[open=open] .closeButton{
    display: block;
}

#stack article[open=open]{
    background-color: orange;
    position: fixed;
    top: 2em;
    bottom: 2em;
    right: 2em;
    left: 2em;
    padding: 1em;
    z-index: 20;
}

#stack article[open=open] h2{
    padding-bottom: 0.5em;
}


/* Table */
th {
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    color: #555555;
    padding: 8px;
    text-align: center;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin:0;
    width: 100%;
    height: 100%;
}
td,th {

    border: 1px solid #CCCCCC;
    padding: 5px 10px;
    vertical-align: middle;
}
caption {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #EFEFEF;
    border-color: #CCCCCC #CCCCCC -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}

th.vertical div{

    /*display: block;*/
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    writing-mode: lr-tb;


}

thead td, thead th{

}

th.vertical{

}




div{
    padding:0;
    margin:0;
}



